<a href="https://colab.research.google.com/github/jianzhike/4100E117/blob/main/4100E117%E6%9C%9F%E4%B8%AD%E5%A0%B1%E5%91%8A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

#從各種資料匯入dataframe
讀寫CSV檔案

讀寫excel檔案 Reading and writing data in Excel format

讀寫 JSON 檔案

讀取網頁表格資料

## 讀取CSV

先下載遠端資料到Google Colab

In [1]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv

--2022-04-13 02:13:58--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 153109 (150K) [text/plain]
Saving to: ‘msft.csv’

msft.csv            100%[===================>] 149.52K  --.-KB/s    in 0.01s

2022-04-13 02:13:58 (11.5 MB/s) - ‘msft.csv’ saved [153109/153109]

In [2]:
ls

msft.csv  sample_data/

### 檢視資料
檢視前八筆資料

In [3]:
!head -n 8 msft.csv

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600
7/15/2014,84.3,84.38,83.2,83.58,1874700
7/14/2014,83.66,84.64,83.11,84.4,1432100
7/11/2014,83.55,83.98,82.85,83.35,2001400

Reading a CSV into a DataFrame

In [8]:
msft = pd.read_csv("./msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

Specifying the index column when reading a CSV file

In [9]:
msft = pd.read_csv("./msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

寫入CSV Saving a DataFrame to a CSV ==> pandas.DataFrame.to_csv()

In [10]:
df2 = pd.read_csv("./msft.csv", 
                  usecols=['Date', 'Close'], 
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [11]:
df2.to_csv("./msft_4100E117.csv", index_label='date')

In [12]:
!head -n 8 ./msft_4100E117.csv

date,Close
7/21/2014,81.93
7/18/2014,83.35
7/17/2014,83.63
7/16/2014,84.91
7/15/2014,83.58
7/14/2014,84.4
7/11/2014,83.35

In [13]:
ls

msft_4100E117.csv  msft.csv  sample_data/  stocks.xlsx

讀取excel前六筆資料

In [15]:
df = pd.read_excel("./stocks.xlsx")
df[:6]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700
5 2014-07-14  83.66  84.64  83.11  84.40  1432100

## 讀取不同試算表

In [17]:
aapl = pd.read_excel("./stocks.xlsx", sheet_name='aapl')
aapl[:6]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900
5 2014-07-14  95.86  96.89  95.65  96.45  42731000

save to an .XLS file, in worksheet 'Sheet1'

In [18]:
df.to_excel("./stocks2.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

## 使用pandas.Series() 建立Series

In [19]:
obj = pd.Series([41, 27, -25, 13,21])
obj

0    41
1    27
2   -25
3    13
4    21
dtype: int64

In [20]:
obj.values

array([ 41,  27, -25,  13,  21])

In [21]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [23]:
obj2.values

array([ 4,  7, -5,  3])

In [24]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

透過index(索引)進行搜尋

In [25]:
obj2['a']

-5

透過index(索引)進行設定

In [26]:
obj2['d'] = 20

In [27]:
obj2[['c', 'a', 'd']]

c     3
a    -5
d    20
dtype: int64

更多運算

In [28]:
obj2 * 3

d    60
b    21
a   -15
c     9
dtype: int64